@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

html,
body{
    width: 100%;
    height: 100%;
}

/************ MENU ***********/

.nav-wrapper{
    background-color: #ffffff;
}

.menu_row .menu_col{
    padding: 0;
}

.menu_row{
    margin-bottom: 0;
}

.menu_col{
    height: 100px;
}

.nav-wrapper{
    height: 100px !important;
    padding-top: 20px 0px 20px 0px;
}

.transparent{
    box-shadow: none;
}

nav a{
    color: #c14d00;
}

nav i.material-icons{
    font-size: 40px;
}

nav .brand-logo{
    top: 25%;
    left: 70%;
}


/************ WELCOMING SECTION **************/

#welcoming{
    min-height: 86%;
    position: relative;
    background-image: url('../img/sm/welcoming_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 .welcoming-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }   

#welcoming_text{
    font-family: Chonburi;
    font-size: 40px;
    color: #2bf3ff;
    text-align: center;
    line-height: 60px;
}

input[type=search]:not(.browser-default){
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20px;
    height: 4em;
    padding:0px 0px 0px 55px;
    font-size: 16px;
    width: 84%;
}

input#search:focus{
    border-bottom: 2px solid #ff9752;
    -webkit-box-shadow: 0 1px 0 0 #ff9752;
    box-shadow: 0 1px 0 0 #ff9752;
}

.input-field input[type=search]:focus{
    background-color: rgba(255,255,255, 0.8);
    border-bottom: 1px solid #c14d00;
}

.input-field input[type=search]:focus+label i{
    color: #ff9752;
}

.input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom: 10px solid #ff9752;
}

.search-icon{
    margin: 7px 0px 0px 6px;
}

.colose-search-icon{
    margin: 14px 0px 0px 0px;
}


/**************** NEW BOOKS SECTION *****************/

.new-book-section{
    padding-bottom: 20px;
}

.section-title{
    font-size: 23px;
    text-transform: uppercase;
    color: #c14d00;
    margin: 2px 0px 35px 0px;
}

.new-section-title{
    width: 301px;
    text-align: left;
    padding-top: 12px;
    margin-left: 21px;
}

span.badge.new,
span.badge.new:after{
    background-color: #2bf3ff;
}

.books-title-wrapper{
    padding: 20px .75em 10px .75em !important;
}

.new-book-section{
    background-color: white;
    background-image: url('../img/sm/new-section-title-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: #ff9752;
}

.new-books-card{
    border: 2px solid #18effc;
    margin: 25px 0px;
}

.new-books-add-icon{
    color: #f29b60 !important;
    background-color: #18effc;
}

.books-price{
    position: absolute;
    z-index: 20;
    padding: 5px 10px;
    margin-left: 22px;
    font-weight: bold;
}

.new-books-price{
    background-color: #18effc;
    color: #f29b60;
}

.crop-image{
    overflow: hidden;
}

.books-card-title{
    font-weight: 400 !important;
}

.books-img{
    margin: -44.875% 0;
}

.purchase-icon{
    margin-bottom: -21px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 20px;
}

.books-purchase-icon{
    background-color: #18effc;
    color: #c14d00;
}

/* New Released Book Section */

.released-book-section{
    padding: 0px 0px 20px 0px;
    background-color: white;
    background-image: url('../img/sm/released-books-top-bg.jpg');
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: #18effc;
}

.money-icon{
    border: 2px solid #c14d00;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
}

.released-section-title{
    text-align: right;
    margin-right: 2px;
}

.released-books-card{
    margin: 20px 0px;
    border: 3px solid #ff9752;
}

.released-books-price{
    background-color: #ff9752;
    color: white;
}

.released-add-icon{
    right: -18px !important;
    top: -20px !important;
    background-color: #ff9752 !important;
}

.release-purchase-icon{
    position: absolute;
    bottom: 4px;
    background-color: #ff9752;
}
