@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

html,
body{
    width: 100%;
    height: 100%;
}

/************ MENU ***********/

.nav-wrapper{
    background-color: #ffffff;
}

.menu_row .menu_col{
    padding: 0;
}

.menu_row{
    margin-bottom: 0;
}

.menu_col{
    height: 100px;
}

.nav-wrapper{
    height: 100px !important;
    padding-top: 20px 0px 20px 0px;
}

.transparent{
    box-shadow: none;
}

nav a{
    color: #c14d00;
}

nav i.material-icons{
    font-size: 40px;
}

nav .brand-logo{
    top: 25%;
    left: 70%;
}


/************ WELCOMING SECTION **************/

#welcoming{
    min-height: 86%;
    position: relative;
    background-image: url('../img/sm/welcoming_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 .welcoming-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }   

#welcoming_text{
    font-family: Chonburi;
    font-size: 40px;
    color: #2bf3ff;
    text-align: center;
    line-height: 60px;
}

input[type=search]:not(.browser-default){
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20px;
    height: 4em;
    padding:0px 0px 0px 55px;
    font-size: 16px;
    width: 84%;
}

input#search:focus{
    border-bottom: 2px solid #ff9752;
    -webkit-box-shadow: 0 1px 0 0 #ff9752;
    box-shadow: 0 1px 0 0 #ff9752;
}

.input-field input[type=search]:focus{
    background-color: rgba(255,255,255, 0.8);
    border-bottom: 1px solid #c14d00;
}

.input-field input[type=search]:focus+label i{
    color: #ff9752;
}

.input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom: 10px solid #ff9752;
}

.search-icon{
    margin: 7px 0px 0px 6px;
}

.colose-search-icon{
    margin: 14px 0px 0px 0px;
}