{% extends 'base.html' %}
{% block content %}
        <!-- Add Book Welcoming section -->
        <section class="welcoming home-welcoming hide-on-med-and-down">
            <div class="welcoming-wrapper">
                <div class="row ">
                    <div class="col s12">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                    <form class="col s12">
                        <div class="input-field">
                            <input id="search" type="search" class="home-search-input" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>
            </div>
        </section>

         <!-- Add Book Welcoming section for tablets and down devices  -->
        <section class="single-welcoming hide-on-large-only">
            <div class="row ">
                    <form class="col s12 single-search-form">
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>         
        </section>


        <!-- Body section -->
        

            <!-- Add books section -->
            <section class="page-section add-book-section">
                <div class="container">
                    <h1 class="section-title add-section-title"> <i class="small material-icons add-book-title-icon">library_add</i> Add The New Book </h1>
                    <div class="row add-book-row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input type="text" name="user_name" id="user_name" class="validate">
                                    <label for="user_name">Your Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" name="email" id="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">person</i>
                                    <input type="text" name="author" id="author" class="validate">
                                    <label for="author">Author</label>
                                </div>
                                <div id="matfix" class="input-field col s12 l6">
                                    <i class="material-icons prefix">today</i>
                                    <input type="text" class="datepicker">
                                    <label for="released_date">Released Date</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">language</i>
                                    <select>
                                        <option value="" disabled selected>Language</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                    <label>Choose the book's language</label>
                                </div>
                                 <div class="input-field col s12 l6">
                                    <div id="test-slider"></div>
                                    <p class="add-book-price">Price</p>
                                    <p class="range-field">
                                        <i class="material-icons prefix">attach_money</i>
                                        <input type="range" name="price" id="test5" min="0" max="100" class="add-book-range-circle" />
                                    </p>
                                </div>
                                <div class="file-field input-field col s12">
                                    <div class="btn add-book-upload-btn">
                                        <span><i class="material-icons prefix upload-file-prefix">attach_file</i></span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper add-book-file-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Click to selcet a image">
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">description</i>
                                    <textarea id="textarea1" class="materialize-textarea tooltipped add-book-textarea" data-position="bottom" data-tooltip="Return -> new line" minlength="3" required></textarea>
                                    <label for="textarea1">Add Description</label>
                                </div>
                                <div class="col s12 add-book-button-margin">
                                    <input type="submit" name="add-book" id="add-book" class="waves-effect waves-light btn-large add-book-submit-btn" value="Add Book">
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </section>
{% endblock %}