<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/nouislider/nouislider.min.css') }}">
    <title>Document</title>
</head>
<body>
 
       <!-- Header section -->
       <header>
            <!-- Menu -->
            <div class="menu-container">
                <div class="row menu_row">
                    <div class="col s12 menu_col">
                        <div class="navbar-fixed">
                            <nav class="main-nav">
                                <div class="nav-wrapper valign-wrapper">     
                                    <a href="#" data-activates="mobile-demo" class="button-collapse "><i class="material-icons">menu</i></a>
                                    
                                    <a href="{{ url_for('home') }}" class="brand-logo home-brand-logo hide-on-large-only">
                                        <img src="{{ url_for('static', filename='img/sm/logo.png') }}" alt="Book Stor's logo" id="logo"/>
                                    </a>

                                    <!--  Logo for Desktop devices -->
                                    <a href="{{ url_for('home') }}" class="brand-logo home-brand-logo hide-on-med-and-down show-on-large">
                                        <img src="{{ url_for('static', filename='img/lg/home/logo.png') }}" alt="Book Stor's logo" id="logo"/>
                                    </a>
                                                        
                                    <ul class="right hide-on-med-and-down">
                                        <li><a href="{{ url_for('home') }}">Home</a></li>
                                        <li class="nav-active-link" ><a href="{{ url_for('add_book') }}" class="add_book_color">Add Book</a></li>
                                        <li><a href="{{ url_for('my_list') }}">My List</a></li>
                                        <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                            <li><a href="{{ url_for('my_list') }}">My List</a></li>
                            <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- Add Book Welcoming section -->
        <section class="welcoming home-welcoming">
            <div class="welcoming-wrapper">
                <div class="row ">
                    <div class="col s12">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                    <form class="col s12">
                        <div class="input-field">
                            <input id="search" type="search" class="home-search-input" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>
            </div>
        </section>


        <!-- Body section -->
        

            <!-- Add books section -->
            <section class="page-section add-book-section">
                <div class="container">
                    <h1 class="section-title add-section-title"> <i class="small material-icons add-book-title-icon">library_add</i> Add The New Book </h1>
                    <div class="row add-book-row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input type="text" name="user_name" id="user_name" class="validate">
                                    <label for="user_name">Your Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" name="email" id="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">person</i>
                                    <input type="text" name="author" id="author" class="validate">
                                    <label for="author">Author</label>
                                </div>
                                <div id="matfix" class="input-field col s12 l6">
                                    <i class="material-icons prefix">today</i>
                                    <input type="text" class="datepicker">
                                    <label for="released_date">Released Date</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <i class="material-icons prefix">language</i>
                                    <select>
                                        <option value="" disabled selected>Language</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                    <label>Choose the book's language</label>
                                </div>
                                 <div class="input-field col s12 l6">
                                    <div id="test-slider"></div>
                                    <p class="add-book-price">Price</p>
                                    <p class="range-field">
                                        <i class="material-icons prefix">attach_money</i>
                                        <input type="range" name="price" id="test5" min="0" max="100" class="add-book-range-circle" />
                                    </p>
                                </div>
                                <div class="file-field input-field col s12">
                                    <div class="btn add-book-upload-btn">
                                        <span><i class="material-icons prefix upload-file-prefix">attach_file</i></span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper add-book-file-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Click to selcet a image">
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">description</i>
                                    <textarea id="textarea1" class="materialize-textarea tooltipped add-book-textarea" data-position="bottom" data-tooltip="Return -> new line" minlength="3" required></textarea>
                                    <label for="textarea1">Add Description</label>
                                </div>
                                <div class="col s12 add-book-button-margin">
                                    <input type="submit" name="add-book" id="add-book" class="waves-effect waves-light btn-large add-book-submit-btn" value="Add Book">
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        
        <!-- Page footer -->
        <footer class="page-footer">

                <div class="row footer-row">

                    <div class="col s12 l4">
                        <h3 class="footer-address str-address">Address: Book Store, 11111, blueplanet 1</h3>
                    </div>

                    <div class="footer-star hide-on-large-only">*</div>
                    
                    <div class="col s12 l4">
                        <h3 class="footer-address">Phone: +11 88 882 882 1</h3>
                    </div>

                    <div class="footer-star hide-on-large-only">*</div>  

                    <div class="col s12 l4">
                         <h3 class="footer-address">Email: thisplanet@planet.com</h3>  
                    </div>

                    <div class="col s12 footer-copy">
                        <div class="divider"></div>
                        &#169 <span>Bookstor</span>
                    </div>

                </div>
        </footer>



    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src=" {{ url_for('static', filename='js/nouislider/nouislider.min.js') }} "></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();

             /* Initializing image zooming function */
            $('.materialboxed').materialbox();

            $('.datepicker').datepicker();
        });
        
        /* Initialising Datapicker */
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            container: undefined // ex. 'body' will append picker to body
        });

        /* The code for fixing datapicker's bag */
        document.getElementById("matfix").addEventListener("click", function(e) {
            e.stopPropagation();
        });
        
        /* Initialising the materialize select element */
        $('select').material_select();

        /* Initialising nouislider */
        var slider = document.getElementById('test-slider');
        noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
        });


        $('.tooltipped').tooltip({
            exitDelay: 2
        });

        // $('ul.tabs').tabs();

    </script>
</body>
</html>