{% extends 'base.html' %}
{% block content %}

        <!-- My List Welcoming section -->
        <section class="welcoming myList-welcoming">
           <h1 class="myList-welcoming-title">The Book Of The Day</h1>
           <article class="container myList-container">
                <a href="#">
                    <div class="row">
                        <div class="col s4">
                            <figure class="day-book-figure">
                                <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }}" alt="The book of the day" class="day_book_img">
                            </figure>
                        </div>
                        <div class="col s8 ">
                            <h2 class="day_book_title">Loveless</h2>
                            <h3 class="day_book_auth">Alice Oseman</h3>
                            <p class="day_book_text flow-text"> A tender account of Georgia and her vexed quest for first love, Loveless
                            is a sprightly, affecting work from a writer at the top of her game.
                            The fourth novel from the phenomenally talented Alice Oseman - one 
                            of the most authentic and talked-about voices in contemporary writer at the top of her game.
                            The fourth novel from the phenomenally talented Alice Oseman - one 
                            of the most authentic and talked-about voices in contemporary YA</p>
                        </div>
                    </div>
                </a>
           </article>
        </section>

        <!-- Body section -->
        
        <!-- New books section -->
        <section class="page-section my-list-section">
            <div class="row container">
                <div class="col s12 myList-tabs-wrapper">
                   <ul class="myList-tabs-ul">    
                       <li class="myList-tabs first-tab-li"><a href=" {{ url_for('my_list') }} ">My List</a></li>
                       <li class="myList-tabs"><a href="{{ url_for('added_books') }}" class="active-tab">Added</a></li>
                       <li class="myList-tabs"><a href="#">Add Book</a></li>
                    </ul>
                    <div class="divider myList-tabs-top-line"></div>
                    <a href="{{ url_for('log_out') }}" class="waves-effect waves-light btn log-out">Log Out</a>
                </div>
                <div class="col s12">
                     {% for book in books %}
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">
                                    <div class="row collapsible-header-row lg-myList-row">
                                        <div class="col s2 l1">
                                            <i class="material-icons">arrow_drop_down</i>
                                        </div>

                                        <div class="col s6 l9">
                                            <span class="myList-book-span myList-book-name">{{ book.title }}</span> <span class="hide-on-med-and-down">|</span> <span class="myList-book-span myList-book-auth hide-on-med-and-down">{{ book.author }} </span>  <span class="hide-on-med-and-down">|</span> <span class="myList-book-span myList-book-price hide-on-med-and-down"> {{ book.price }} EUR </span>
                                        </div>

                                        <div class="col s2 l1">
                                            <a href="{{ url_for('edit_book', book_id=book._id) }}" class="myList-icon-btns btn-floating btn-small waves-effect waves-light green"><i class="material-icons myList-edit-icon">edit</i></a>
                                        </div>

                                        <div class="col s2 l1">
                                            <a href="{{ url_for('delete_book', book_id=book._id, img_name=book.image_name ) }}" class="myList-icon-btns btn-floating btn-small waves-effect waves-light red add-book-del-btn"><i class="material-icons myList-edit-icon">highlight_off</i></a>
                                        </div>
                                    </div>
                
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 myList-full-img">
                                            <figure>   
                                                <img src=" {{ url_for('static', filename='img/uploaded/' + book.image_name) }} " alt='{{ book.image_name }}' class="myList-img materialboxed" >       
                                            </figure>
                                        </div>

                                        <div class="col s12 l8" >   

                                            <ul class="myList-books-desc">
                                                <li><span>Title</span> - {{ book.title }}</li>
                                                <li><span>Author</span> - {{ book.author }}</li>
                                                <li><span>Language</span> - {{ book.Language }}</li>
                                                <li><span>Published</span> - {{ book.released_date }}</li>
                                                <li><span>Price</span> - {{ book.price }}</li>
                                            </ul>
                                            <p class="myList-books-text">
                                                {{ book.description }}
                                            </p>

                                        </div>   
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    {% endfor %} 
                       
                </div>
            </div>
            
        </section>
        
 {% endblock %}  