{% extends 'base.html' %}
{% block content %}
        <!-- Authentication Welcoming section for Desktop devices -->
        <section class="welcoming myList-welcoming hide-on-med-and-down">
            <div class="container auth-wrapper">
                <div class="div-for-hand-img"></div> 
                <h1 class="auth-welcoming-title">The Special Offer For You</h1>
            
                <article class="row auth-container">   
                    <div class="col l4">
                        <a href="#">
                            <figure class="special-offer">
                                <img src="{{ url_for('static', filename='img/uploaded/' + special_offer.image_name)}}" alt="Special Offer " class="special-offer-img">
                            </figure>
                        </a> 
                    </div>
                               
                    <div class="col l8">
                            <h2 class="day_book_title">{{ special_offer.title }}</h2>
                            <h3 class="day_book_auth">{{ special_offer.author }}</h3>
                            <p class="day_book_text flow-text"> 
                                 <a href="{{ url_for('single_book_page' , book_id=special_offer._id) }}" class="view_link">
                                    {{ special_offer.description | truncate(180) }}
                                </a>        
                            </p>
                        </div> 
                </article>
             </div>
        </section>

        <!-- Add Book Welcoming section -->
        <section class="auth-section">
            <div class="row auth-row">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li> <h1 class="auth-text hide-on-med-and-down"> {{ message }} </h1> </li>     
                            {% endfor %}
                        </ul>       
                    {% else %}
                        <div class="col s12 auth-text-wrapper hide-on-large-only">
                            <h1 class="auth-text">
                                In Order To Access “My List” You Must Authenticate Yourself!
                            </h1>
                        </div>
                        <h1 class="auth-text hide-on-med-and-down">
                                In Order To Access “My List” You Must Authenticate Yourself!
                        </h1>
                    {% endif %}    
                {% endwith %}
                <div class="auth-form-wrapper">
                    <form action="{{ url_for('auth') }}" method="POST" class="col s12 auth-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" name="user_name" id="user_name" class="validate" required>
                                <label for="user_name">Your Name</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input type="email" name="user_email" id="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="col s12 add-book-button-margin">
                                <input type="submit" id="add-book" class="waves-effect waves-light btn-large add-book-submit-btn" value="Add Book">
                            </div>
                        </div>
                    </form>
                    <!-- span element for margin -->
                    <span class="for-margin"> &nbsp; </span>
                </div>
            </div>         
        </section>
{% endblock %}