{% extends 'base.html' %}
{% block content %}
        <!-- Authentication Welcoming section for Desktop devices -->
        <section class="welcoming myList-welcoming hide-on-med-and-down">
            <div class="container auth-wrapper">
                <div class="div-for-hand-img"></div> 
                <h1 class="auth-welcoming-title">The Special Offer For You</h1>
            
                <article class="row auth-container">   
                    <div class="col l4">
                        <a href="#">
                            <figure class="special-offer">
                                <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }}" alt="Special Offer " class="special-offer-img">
                            </figure>
                        </a> 
                    </div>
                               
                    <div class="col l8">
                            <h2 class="day_book_title">Loveless</h2>
                            <h3 class="day_book_auth">Alice Oseman</h3>
                            <p class="day_book_text flow-text"> 
                                        A tender account of Georgia and her vexed quest for first love, Loveless
                                        is a sprightly, affecting work from a writer at the top of her game.
                                        The fourth novel from the phenomenally talented Alice Oseman - one 
                                        of the most authentic and talked-about voices in contemporary writer at the top of her game.
                                        The fourth novel from the phenomenally talented Alice Oseman - one 
                                        of the most authentic and talked-about voices in contemporary YA
                            </p>
                        </div> 
                </article>
             </div>
        </section>

        <!-- Add Book Welcoming section -->
        <section class="auth-section">
            <div class="row auth-row">
                <div class="col s12 auth-text-wrapper hide-on-large-only">
                    <h1 class="auth-text">
                        In Order To Access “My List” You Must Authenticate Yourself!
                    </h1>
                </div>
                <h1 class="auth-text hide-on-med-and-down">
                        In Order To Access “My List” You Must Authenticate Yourself!
                </h1>
                <div class="auth-form-wrapper">
                    <form class="col s12 auth-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" name="user_name" id="user_name" class="validate">
                                <label for="user_name">Your Name</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input type="email" name="email" id="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="col s12 add-book-button-margin">
                                <input type="submit" name="add-book" id="add-book" class="waves-effect waves-light btn-large add-book-submit-btn" value="Add Book">
                            </div>
                        </div>
                    </form>
                    <!-- span element for margin -->
                    <span class="for-margin"> &nbsp; </span>
                </div>
            </div>         
        </section>
{% endblock %}