<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    
       <!-- Header section -->
       <header>
            <!-- Menu -->
            <div class="menu-container">
                <div class="row menu_row">
                    <div class="col s12 menu_col">
                        <div class="navbar-fixed">
                            <nav class="main-nav">
                                <div class="nav-wrapper valign-wrapper">     
                                    <a href="#" data-activates="mobile-demo" class="button-collapse "><i class="material-icons">menu</i></a>
                                    
                                    <a href="{{ url_for('home') }}" class="brand-logo home-brand-logo hide-on-large-only">
                                        <img src="{{ url_for('static', filename='img/sm/logo.png') }}" alt="Book Stor's logo" id="logo"/>
                                    </a>

                                    <!--  Logo for Desktop devices -->
                                    <a href="{{ url_for('home') }}" class="brand-logo home-brand-logo hide-on-med-and-down show-on-large">
                                        <img src="{{ url_for('static', filename='img/lg/home/logo.png') }}" alt="Book Stor's logo" id="logo"/>
                                    </a>
                                                        
                                    <ul class="right hide-on-med-and-down">
                                        <li {% if request.url_rule.endpoint == "home" %} class="nav-active-link" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                                        <li {% if request.url_rule.endpoint == "add_book" %} class="nav-active-link" {% endif %}><a href="{{ url_for('add_book') }}" class="add_book_color">Add Book</a></li>
                                        <li {% if request.url_rule.endpoint == "my_list" or request.url_rule.endpoint == "added_books" %} class="nav-active-link" {% endif %}><a href="{{ url_for('my_list') }}">My List</a></li>
                                        <li {% if request.url_rule.endpoint == "contact" %} class="nav-active-link" {% endif %}><a href="{{ url_for('contact') }}">Conatact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                            <li><a href="{{ url_for('my_list') }}">My List</a></li>
                            <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}

        {% endblock %}

         <!-- Page footer -->
        <footer class="page-footer">

                <div class="row footer-row">

                    <div class="col s12 l4">
                        <h3 class="footer-address str-address">Address: Book Store, 11111, blueplanet 1</h3>
                    </div>

                    <div class="footer-star hide-on-large-only">*</div>
                    
                    <div class="col s12 l4">
                        <h3 class="footer-address">Phone: +11 88 882 882 1</h3>
                    </div>

                    <div class="footer-star hide-on-large-only">*</div>  

                    <div class="col s12 l4">
                         <h3 class="footer-address">Email: thisplanet@planet.com</h3>  
                    </div>

                    <div class="col s12 footer-copy">
                        <div class="divider"></div>
                        &#169 <span>Bookstor</span>
                    </div>

                </div>
        </footer>



    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src=" {{ url_for('static', filename='js/nouislider/nouislider.min.js') }} "></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();

             /* Initializing image zooming function */
            $('.materialboxed').materialbox();

            $('.datepicker').datepicker();
        });
        
        /* Initialising Datapicker */
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            container: undefined // ex. 'body' will append picker to body
        });

        /* The code for fixing datapicker's bag */
        document.getElementById("matfix").addEventListener("click", function(e) {
            e.stopPropagation();
        });
        
        /* Initialising the materialize select element */
        $('select').material_select();

        /* Initialising nouislider */
        var slider = document.getElementById('test-slider');
        noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
        });


        $('.tooltipped').tooltip({
            exitDelay: 2
        });

        // $('ul.tabs').tabs();

    </script>
    {% block script %}
    {% endblock %}
</body>
</html>