{% extends 'base.html' %}
{% block content %}

            <!-- Contact Welcoming section for Desktop devices-->
            <section class="welcoming home-welcoming hide-on-med-and-down">
                <div class="welcoming-wrapper">
                    <div class="row ">
                        <div class="col s12">
                            <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                        </div>
                        <form action="{{ url_for('book_search') }}" id="s_form" method="POST" class="col s12" autocomplete="off">
                            <div class="input-field">
                                <input id="search" type="search" name="book_name" class="home-search-input" required>
                                <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                                <i class="material-icons colose-search-icon">close</i> 
                            </div>  
                        </form>
                    </div>
                </div>
            </section>

            <!-- Contact Welcoming section for tablets and down devices  -->
            <section class="single-welcoming hide-on-large-only">
                <div class="row ">
                        <div class="col s12 hide">
                            <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                        </div>
                        <form action="{{ url_for('book_search') }}" id="s_form" method="POST" class="col s12" autocomplete="off">
                            <div class="input-field">
                                <input id="low-devices-search" type="search" name="book_name" class="home-search-input" required>
                                <label class="label-icon" for="low-devices-search"><i class="material-icons search-icon">search</i></label>
                                <i class="material-icons colose-search-icon">close</i> 
                            </div>  
                        </form>
                    </div>         
            </section>

            <!-- Add books section -->
            <section class="page-section contact-section">
                <div class="container">
                    <h1 class="section-title contact-section-title">
                         In Case Any Question Please Feel Free To Ask It 
                    </h1>
                    <div class="row">
                        <div class="col s12 contact-icon-wrapper">
                            <i class="medium material-icons contact-title-icon">question_answer</i>
                        </div>
                        <div class="col s12 contact-map-wrapper">
                              <div class="google-maps-wrapper">
                                   <img src="{{ url_for('static', filename='img/sm/contact/google-map-image.jpg') }} " alt="Googlee map image" id='google-img' >
                              </div>  
                        </div>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input type="text" name="user_name" id="user_name" class="validate">
                                    <label for="user_name">Your Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input type="email" name="email" id="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">description</i>
                                    <textarea id="textarea1" class="materialize-textarea tooltipped add-book-textarea" data-position="bottom" data-tooltip="Return -> new line" minlength="3" required></textarea>
                                    <label for="textarea1">Add Description</label>
                                </div>
                                <div class="col s12 add-book-button-margin">
                                    <input type="submit" name="contact" id="contact" class="waves-effect waves-light btn-large add-book-submit-btn" value="Send Email">
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        
{% endblock %}
{% block script %}
    <!-- Script for autocomplete of search input lement -->
    <script>
        $(document).ready(function(){
            $('input.home-search-input').autocomplete({
            data: {
                {% for autocomplete in autocomplete_data %}
                    /* Name of books form mongodb */
                    '{{ autocomplete.title }}': 'static/img/uploaded/{{ autocomplete.image_name }}' ,
                {% endfor %}   
            },
            /* As soon as item is selected from the list the form is submited automatically */
            onAutocomplete : function(){
                document.getElementById("s_form").submit();
            }
            });
        });
    </script>
{% endblock %}