
{% extends 'base.html' %}
{% block content %}
        <!-- Welcoming section -->
        <section class="welcoming home-welcoming">
            <div class="welcoming-wrapper">
                <div class="row ">
                    <div class="col s12">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                    <form class="col s12">
                        <div class="input-field">
                            <input id="search" type="search" class="home-search-input" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>
            </div>
        </section>

        <!-- Body section -->
        
            <!-- New books section -->
            <section class="page-section new-book-section">
                <div class="row">      
                    <div class="col s12 books-title-wrapper hide-on-large-only">
                        <h2 class="section-title new-section-title">New released books <span class="new badge new-section-badge"></span></h2>
                    </div>
                    <div class="container">
                        <div class="col s12 books-title-wrapper hide-on-med-and-down show-on-large">
                             <h2 class="section-title new-section-title">New released books <span class="new badge new-section-badge"></span></h2>
                        </div>
                        <div class="col m12 l6">
                            {% for book in new_released %}
                                {% if book.new_released %}
                                    <div class="col s12 m6">
                                        <div class="card hoverable new-books-card">
                                            <div class="card-image">
                                                <div class="crop-image">
                                                    <span class="books-price new-books-price">{{ book.price }} EUR</span>
                                                    <img src="{{ url_for('static', filename='img/uploaded/' + book.image_name ) }} " class='new-small-books-img books-img materialboxed'>
                                                    <span class="card-title books-card-title">{{ book.title }}</span>
                                                </div>
                                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons new-books-add-icon">add</i></a>
                                            </div>
                                            <div class="card-content">
                                                <p class="flow-text">
                                                    <a href="#" class="desc_truncate">
                                                         {{ book.description | truncate(50) }}
                                                    </a>
                                                 </p>
                                            </div>
                                            <a href='{{ book.affiliante_link}}' target='_blank' class="waves-effect waves-light btn purchase-icon books-purchase-icon">Purchase</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}    
                            <!-- <div class="col s12 m6">
                                <div class="card hoverable new-books-card">
                                    <div class="card-image">
                                        <div class="crop-image">
                                            <span class="books-price new-books-price">20 EUR</span>
                                            <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }}" class='new-books-img books-img materialboxed'>
                                            <span class="card-title books-card-title">Card Title</span>
                                        </div>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons new-books-add-icon">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p class="flow-text">I am a very simple card. I am good at containing small bits of information. I am ...</p>
                                    </div>
                                    <a class="waves-effect waves-light btn purchase-icon books-purchase-icon">Purchase</a>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="card  hoverable new-books-card">
                                    <div class="card-image ">
                                        <div class="crop-image">
                                            <span class="books-price new-books-price">20 EUR</span>
                                            <img src="{{ url_for('static', filename='img/sections/new_books/new-book-3.jpg') }} "  class='new-books-img books-img materialboxed'>
                                            <span class="card-title books-card-title">Card Title</span>
                                        </div>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons new-books-add-icon">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p class="flow-text">I am a very simple card. I am good at containing small bits of information. </p>
                                    </div>
                                    <a class="waves-effect waves-light btn purchase-icon books-purchase-icon">Purchase</a>
                                </div>
                            </div>

                            <div class="col s12 m6 hide-on-small-only">
                                <div class="card hoverable new-books-card">
                                    <div class="card-image">
                                        <div class="crop-image">
                                            <span class="books-price new-books-price">20 EUR</span>
                                            <img src="{{ url_for('static', filename='img/sections/new_books/new-book-3.jpg') }} "  class='new-books-img books-img materialboxed'>
                                            <span class="card-title books-card-title">Card Title</span>
                                        </div>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons new-books-add-icon">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p class="flow-text">I am a very simple card. I am good at containing small bits of information. </p>
                                    </div>
                                    <a class="waves-effect waves-light btn purchase-icon books-purchase-icon">Purchase</a>
                                </div>
                            </div> -->
                        </div>
                        <div class="col l6 hide-on-med-and-down">
                             <div class="col">
                                    {% if big_img %}
                                        <div class="card hoverable new-books-card">
                                            <div class="card-image">
                                                <div class="crop-image big-card">
                                                    <span class="books-price new-books-price">{{ big_img.price }} EUR</span>
                                                    <img src="{{ url_for('static', filename='img/uploaded/' + big_img.image_name ) }} "  class='new-books-img big-book books-img materialboxed'>
                                                    <span class="card-title books-card-title">{{ big_img.title }}</span>
                                                </div>
                                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons new-books-add-icon">add</i></a>
                                            </div>
                                            <div class="card-content">
                                                <p class="flow-text">
                                                     <a href="#" class="desc_truncate">
                                                         {{ big_img.description | truncate(200) }}
                                                    </a>
                                                 </p>
                                            </div>
                                            <a href='{{ big_img.affiliante_link}}' target='_blank' class="waves-effect waves-light btn purchase-icon books-purchase-icon">Purchase</a>
                                        </div>
                                    {% endif %}       
                            </div>
                        </div>
                    </div>
                </div>
       
            </section>


            <!-- Best books section -->
            <section class="best-book-section">
                <div class="row">
                    <div class="container">
                        <div class="col s12 books-title-wrapper">
                            <h2 class="section-title best-book-title" >Best Selling Books <i class="material-icons money-icon">attach_money</i></h2>
                        </div>
                    
                    <!-- Books list -->
                    {% for book in best_selling %}
                        <div class="col s12 m4 l3">
                            <div class="card released-books-card">
                                <div class="card-image">
                                    <span class="books-price released-books-price">{{book.price}} EUR</span>
                                    <img src="{{ url_for('static', filename='img/uploaded/' + book.image_name ) }} " class="best_selling_img materialboxed">
                                    <a class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    <a href='{{ book.affiliante_link}}' target='_blank' class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <!-- <div class="col s12 m4 l3">
                            <div class="card released-books-card">
                                <div class="card-image">
                                    <span class="books-price released-books-price">20 EUR</span>
                                    <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }} " class="materialboxed">
                                    <a class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    <a class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l3 hide-on-small-only">
                            <div class="card released-books-card">
                                <div class="card-image">
                                    <span class="books-price released-books-price">20 EUR</span>
                                    <img src="{{ url_for('static', filename='img/sections/new_books/new-book-1.jpg') }} " class="materialboxed">
                                    <a class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    <a class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l3 hide-on-med-and-down">
                            <div class="card released-books-card">
                                <div class="card-image">
                                    <span class="books-price released-books-price">20 EUR</span>
                                    <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }} " class="materialboxed">
                                    <a class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    <a class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                </div>
                            </div>
                        </div> -->
                   </div> 
                </div>    
            </section>

{% endblock %}