<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <!-- The whole page container -->
    <div class="container">
       
       <!-- Header section -->
       <header>
            <!-- Menu -->
            <div class="row">
                <div class="col s12">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#!" class="brand-logo">Logo</a>
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                                <li><a href="{{ url_for('my_list') }}">My List</a></li>
                                <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                            </ul>
                            <ul class="side-nav" id="mobile-demo">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                                <li><a href="{{ url_for('my_list') }}">My List</a></li>
                                <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Welcoming section -->
        <section>

            <h1>Find And Collect Your Favoriet Books From All Over The World </h1>

            <div class="row">
                <form class="col s12">
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i> 
                    </div>  
                </form>
            </div>

        </section>

        <!-- New books section -->
        <section>
            <h2>New released books <span class="new badge"></span></h2>

            <!-- Books list -->
            <div class="row">

                <div class="col s12">
                   <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                   <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                   <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

            </div>    
        </section>


        <!-- Best books section -->
        <section>
            <h2>New released books <span class="new badge"></span></h2>

            <!-- Books list -->
            <div class="row">

                <div class="col s12">
                   <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            <a class="waves-effect waves-light btn">Purchase</a>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                   <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            <a class="waves-effect waves-light btn">Purchase</a>
                        </div>
                    </div>
                </div>
                
            </div>    
        </section>

        <!-- Page footer -->
        <footer class="page-footer">

            <div class="container">

                <div class="row">

                    <div class="col s12">
                        <h4>Address: This Planet, 11111, blueplanet 1</h4>
                    </div>

                    <div>*</div>
                    
                    <div class="col s12">
                        <h4>Phone: +11 88 882 882 1</h4>
                    </div>

                    <div>*</div>  

                    <div class="col s12">
                         <h4>Email: thisplanet@planet.com</h4>  
                    </div>       
                </div>

                <div class="divider"></div>
                
                <div class="row">
                    <div class="col s12">
                        &#169 <span>Bookstor</span>
                    </div>
                </div>    

            </div>

        </footer>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
        });
    </script>
</body>
</html>