<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
 
       <!-- Header section -->
       <header>
            <!-- Menu -->
            <div class="row menu_row">
                <div class="col s12 menu_col">
                    <div class="navbar-fixed">
                        <nav>
                            <div class="nav-wrapper valign-wrapper">     
                                <a href="#" data-activates="mobile-demo" class="button-collapse "><i class="material-icons">menu</i></a>
                                
                                <a href="{{ url_for('home') }}" class="brand-logo">
                                    <img src="{{ url_for('static', filename='img/sm/logo.png') }}" alt="Book Stor's logo" id="logo"/>
                                </a>
                                                    
                                <ul class="right hide-on-med-and-down">
                                    <li><a href="{{ url_for('home') }}">Home</a></li>
                                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                                    <li><a href="{{ url_for('my_list') }}">My List</a></li>
                                    <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                        <li><a href="{{ url_for('my_list') }}">My List</a></li>
                        <li><a href="{{ url_for('contact') }}">Conatact</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- My List Welcoming section -->
        <section class="welcoming myList-welcoming">
           <h1 class="myList-welcoming-title">The Book Of The Day</h1>
           <article class="container myList-container">
                <a href="#">
                    <div class="row">
                        <div class="col s6">
                            <figure>
                                <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }}" alt="The book of the day" id="day_book_img">
                            </figure>
                        </div>
                        <div class="col s6 ">
                            <h2 class="day_book_title">Loveless</h2>
                            <h3 class="day_book_auth">Alice Oseman</h3>
                            <p class="day_book_text flow-text"> A tender account of Georgia and her vexed quest for first love, Loveless
                            is a sprightly, affecting work from a writer at the top of her game.
                            The fourth novel from the phenomenally talented Alice Oseman - one 
                            of the most authentic and talked-about voices in contemporary YA</p>
                        </div>
                    </div>
                </a>
           </article>
        </section>

        <!-- Body section -->
        
        <!-- New books section -->
        <section class="page-section my-list-section">
            <div class="row container">
                <div class="col s12 myList-tabs-wrapper">
                   <ul class="myList-tabs-ul">    
                       <li class="myList-tabs"><a href="{{ url_for('my_list') }}" class="active-tab">My List</a></li>
                       <li class="myList-tabs"><a href="{{ url_for('added_books') }}">Added</a></li>
                       <li class="myList-tabs"><a href="#">Add Book</a></li>
                    </ul>
                    <div class="divider myList-tabs-top-line"></div>
                </div>
                <div class="col s12">
                     <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="row collapsible-header-row">
                                    <div class="col s2">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>

                                    <div class="col s6">
                                        Remain
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light green"><i class="material-icons myList-edit-icon">edit</i></a>
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light red add-book-del-btn"><i class="material-icons myList-edit-icon">highlight_off</i></a>
                                    </div>
                                </div>
             
                            </div>
                            <div class="collapsible-body">
                                <figure>   
                                    <img src=" {{ url_for('static', filename='img/sections/new_books/new-book-1.jpg') }} " alt='The Book Title' class="myList-img materialboxed" >       
                                </figure>
                                <ul class="myList-books-desc">
                                    <li><span>Title</span> - Blood</li>
                                    <li><span>Author</span> - Tony Brich</li>
                                    <li><span>Language</span> - English</li>
                                    <li><span>Published</span> - 01 Oct 2012</li>
                                    <li><span>Price</span> - 20 EUR</li>
                                </ul>
                                <p class="myList-books-text">
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </li>
                        
                     </ul>

                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="row collapsible-header-row">
                                    <div class="col s2">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>

                                    <div class="col s6">
                                        Remain
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light green"><i class="material-icons myList-edit-icon">edit</i></a>
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light red add-book-del-btn"><i class="material-icons myList-edit-icon">highlight_off</i></a>
                                    </div>
                                </div>
             
                            </div>
                            <div class="collapsible-body">
                                <figure>   
                                    <img src=" {{ url_for('static', filename='img/sections/new_books/new-book-1.jpg') }} " alt='The Book Title' class="myList-img materialboxed" >       
                                </figure>
                                <ul class="myList-books-desc">
                                    <li><span>Title</span> - Blood</li>
                                    <li><span>Author</span> - Tony Brich</li>
                                    <li><span>Language</span> - English</li>
                                    <li><span>Published</span> - 01 Oct 2012</li>
                                    <li><span>Price</span> - 20 EUR</li>
                                </ul>
                                <p class="myList-books-text">
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </li>
                        
                     </ul>

                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="row collapsible-header-row">
                                    <div class="col s2">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>

                                    <div class="col s6">
                                        Remain
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light green"><i class="material-icons myList-edit-icon">edit</i></a>
                                    </div>

                                    <div class="col s2">
                                        <a href="#" class="myList-icon-btns btn-floating btn-small waves-effect waves-light red add-book-del-btn"><i class="material-icons myList-edit-icon">highlight_off</i></a>
                                    </div>
                                </div>
             
                            </div>
                            <div class="collapsible-body">
                                <figure>   
                                    <img src=" {{ url_for('static', filename='img/sections/new_books/new-book-1.jpg') }} " alt='The Book Title' class="myList-img materialboxed" >       
                                </figure>
                                <ul class="myList-books-desc">
                                    <li><span>Title</span> - Blood</li>
                                    <li><span>Author</span> - Tony Brich</li>
                                    <li><span>Language</span> - English</li>
                                    <li><span>Published</span> - 01 Oct 2012</li>
                                    <li><span>Price</span> - 20 EUR</li>
                                </ul>
                                <p class="myList-books-text">
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </li>
                        
                     </ul>
                     
                       
                </div>
            </div>
            
        </section>
        
        <!-- Page footer -->
        <footer class="page-footer">

                <div class="row footer-row">

                    <div class="col s12">
                        <h4 class="footer-address str-address">Address: Book Store, 11111, blueplanet 1</h4>
                    </div>

                    <div class="footer-star">*</div>
                    
                    <div class="col s12">
                        <h4 class="footer-address">Phone: +11 88 882 882 1</h4>
                    </div>

                    <div class="footer-star">*</div>  

                    <div class="col s12">
                         <h4 class="footer-address">Email: thisplanet@planet.com</h4>  
                    </div>

                    <div class="col s12 footer-copy">
                        <div class="divider"></div>
                        &#169 <span>Bookstor</span>
                    </div>

                </div>
        </footer>



    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            /* Initializing colapsable menu */
            $(".button-collapse").sideNav();

            /* Initializing materialized css tabs in My List*/
            $('.tabs').tabs({
                swipeable: true
            });
            
            /* Initializing collection's popups */
            $('.collapsible').collapsible();
        });
    </script>
</body>
</html>