{% extends 'base.html' %}
{% block content %}
        <!-- Single Book Welcoming section for tablets and down devices -->
        <section class="single-welcoming hide-on-large-only">
            <div class="row ">
                    <form class="col s12 single-search-form">
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>         
        </section>

        <!-- Single book Welcoming section for Desktop devices -->
        <section class="welcoming home-welcoming hide-on-med-and-down">
            <div class="welcoming-wrapper">
                <div class="row ">
                    <div class="col s12">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                    <form class="col s12">
                        <div class="input-field">
                            <input id="search" type="search" class="home-search-input" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>
            </div>
        </section>

        <!-- Body section -->
        

            <!-- Add books section for tablets and down devices -->
            <section class="page-section single-section hide-on-large-only">
                <div class="container single-container">
                    <div class="row">
                        <div class="col s12">
                                <figure>   
                                    <div class="card single-card">
                                        <div class="card-image">
                                            <span class="books-price released-books-price">20 EUR</span>
                                            <img src="{{ url_for('static', filename='img/sections/new_books/new-book-2.jpg') }} " class="materialboxed">
                                            <a class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                            <a class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                        </div>
                                    </div> 
                                </figure>

                                <div class="divider single-top-divider"></div>

                                <ul class="single-books-desc">
                                    <li><span>Title</span> - Blood</li>
                                    <li><span>Author</span> - Tony Brich</li>
                                    <li><span>Language</span> - English</li>
                                    <li><span>Published</span> - 01 Oct 2012</li>
                                    <li><span>Price</span> - 20 EUR</li>
                                </ul>

                                <div class="divider"></div>
                                
                                <p class="single-books-text">
                                   Blood,  a debut novel by Tony Birch, has been shortlisted for the 2012 Miles Franklin Award.
                                   In the blurb at Fishpond, it’s described as ‘an epic moral fable, a gothic odyssey set on the
                                   back roads of Australia’.  It’s the story of two kids, thirteen-year-old Jesse and his
                                   little sister Rachel, aged eight.  They have the kind of mother they’d be better off without. 
                                   Her name is Gwen. That’s not me, sitting in judgement.  It’s Jesse, who narrates this story, who tells us so.
                                   Gwen’s life is a disaster, and her adolescent son has finall
                                </p>
                        </div>
                    </div>
                </div>
            </section>

         <!-- Single book page's section for Desktop devices -->
        <section class="l-search-book-section hide-on-med-and-down">
            <div class="container l-single-result-container">
                <div class="row">
                    <div class="col">
                        <div class="l-search-result">
                            <div class="row l-search-result-row">
                                <div class="col l3 search-card-col">
                                    <div class="card-image l-search-card-wrapper">
                                        <span class="books-price released-books-price">20 EUR</span>
                                         <a class="l-search-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                        <img src="{{ url_for('static', filename='img/sections/new_books/new-book-1.jpg') }} " class="materialboxed l-search-img">
                                        <a class="waves-effect waves-light btn purchase-icon search-purchase-icon">Purchase</a>
                                    </div>
                                </div>
                                <div class="col l9">
                                    <ul class="search-book-desc">
                                        <li><span>Title</span> - Blood</li>
                                        <li><span>Author</span> - Tony Brich</li>
                                        <li><span>Language</span> - English</li>
                                        <li><span>Published</span> - 01 Oct 2012</li>
                                        <li><span>Price</span> - 20 EUR</li>
                                    </ul>
                                    <p class="l-search-result-text flow-text">
                                        Blood,  a debut novel by Tony Birch, has been shortlisted for the 2012 Miles Franklin Award.
                                        In the blurb at Fishpond, it’s described as ‘an epic moral fable, a gothic odyssey set on the
                                        back roads of Australia’.  It’s the story of two kids, thirteen-year-old Jesse and his little sister Rachel,
                                        aged eight.  They have the kind of mother they’d be better off without.  Her name is Gwen.
                                        That’s not me, sitting in judgement.  It’s Jesse, who narrates this story, who tells us so. 
                                       Gwen’s life is a disaster, and her adolescent son has finally given up on her.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
{% endblock %}