{% extends 'base.html' %}
{% block content %}
        <!-- Single Book Welcoming section for tablets and down devices -->

         <!-- Single book Welcoming section for Desktop devices -->
        <section class="welcoming home-welcoming hide-on-med-and-down">
            <div class="welcoming-wrapper">
                <div class="row ">
                    <div class="col s12">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                   <form action="{{ url_for('book_search') }}" id="s_form" method="POST" class="col s12" autocomplete="off">
                        <div class="input-field">
                            <input id="search" type="search" name="book_name" class="home-search-input" required>
                            <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>
            </div>
        </section>

        <section class="single-welcoming hide-on-large-only">
            <div class="row ">
                     <div class="col s12 hide">
                        <h1 class="welcoming_text">Find And Collect Your Favourite Books From All Over The World </h1>
                    </div>
                    <form action="{{ url_for('book_search') }}" id="s_form" method="POST" class="col s12" autocomplete="off">
                        <div class="input-field">
                            <input id="low-devices-search" type="search" name="book_name" class="home-search-input" required>
                            <label class="label-icon" for="low-devices-search"><i class="material-icons search-icon">search</i></label>
                            <i class="material-icons colose-search-icon">close</i> 
                        </div>  
                    </form>
                </div>         
        </section>

        <!-- Body section -->
        

            <!-- Add books section for tablets and down devices -->
            <section class="page-section single-section hide-on-large-only">
                <div class="container single-container">
                    <div class="row">
                        <div class="col s12">
                                <figure>   
                                    <div class="card single-card">
                                        <div class="card-image">
                                            <span class="books-price released-books-price">{{ book.title }} EUR</span>
                                            <img src="{{ url_for('static', filename='img/uploaded/' + book.image_name ) }} " alt="{{ book.title }}" class="materialboxed">
                                            <a href=" {{ url_for('insert_in_my_list',  book_id=book._id) }}" target="_blank" class="released-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                            <a href='{{ book.affiliante_link}}' target="_blank" class="waves-effect waves-light btn purchase-icon release-purchase-icon">Purchase</a>
                                        </div>
                                    </div> 
                                </figure>

                                <div class="divider single-top-divider"></div>

                                <ul class="single-books-desc">
                                    <li><span>Title</span> - {{ book.title }}</li>
                                    <li><span>Author</span> - {{ book.author }}</li>
                                    <li><span>Language</span> - {{ book.language }}</li>
                                    <li><span>Published</span> - {{ book.description }}</li>
                                </ul>

                                <div class="divider"></div>
                                
                                <p class="single-books-text">
                                  {{ book.released_date }}
                                </p>
                        </div>
                    </div>
                </div>
            </section>

         <!-- Single book page's section for Desktop devices -->
        <section class="l-search-book-section hide-on-med-and-down">
            <h2 class="hide"> H2 element just for HTML validator </h2>
            <div class="container l-single-result-container">
                <div class="row">
                    <div class="col">
                        <div class="l-search-result">
                            <div class="row l-search-result-row">
                                <div class="col l3 search-card-col">
                                    <div class="card-image l-search-card-wrapper">
                                        <span class="books-price released-books-price">{{ book.price }} EUR</span>
                                        <a href=" {{ url_for('insert_in_my_list',  book_id=book._id) }}" target="_blank" class="l-search-add-icon btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                        <img src="{{ url_for('static', filename='img/uploaded/' + book.image_name ) }} " alt="{{ book.title }}" class="materialboxed l-search-img">
                                        <a href='{{ book.affiliante_link}}' target="_blank" class="waves-effect waves-light btn purchase-icon search-purchase-icon">Purchase</a>
                                    </div>
                                </div>
                                <div class="col l9">
                                    <ul class="search-book-desc">
                                        <li><span>Title</span> - {{ book.title }}</li>
                                        <li><span>Author</span> - {{ book.author }}</li>
                                        <li><span>Language</span> - {{ book.language }}</li>
                                        <li><span>Published</span> - {{ book.description }}</li>
                                    </ul>
                                    <p class="l-search-result-text flow-text">
                                        {{ book.released_date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
{% endblock %}
{% block script %}
    <!-- Script for autocomplete of search input lement -->
    <script>
        $(document).ready(function(){
            $('input.home-search-input').autocomplete({
            data: {
                {% for autocomplete in autocomplete_data %}
                    /* Name of books form mongodb */
                    '{{ autocomplete.title }}': 'static/img/uploaded/{{ autocomplete.image_name }}' ,
                {% endfor %}   
            },
            /* As soon as item is selected from the list the form is submited automatically */
            onAutocomplete : function(){
                document.getElementById("s_form").submit();
            }
            });
        });
    </script>
{% endblock %}